<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBALiQl834tq11KvpapPJEY91AvWh4IUnI</string>
	<key>GCM_SENDER_ID</key>
	<string>552782794791</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.Siarhei.Kuryan.Crypto-1-Edition</string>
	<key>PROJECT_ID</key>
	<string>crypto-app-78a66</string>
	<key>STORAGE_BUCKET</key>
	<string>crypto-app-78a66.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:552782794791:ios:9eb2deb0ee846f67967e02</string>
</dict>
</plist>